node_modules/
package.json
package-lock.json
yarn.lock



































# ductvh
ductvh/pj/node_modules/
ductvh/pj/dist/
ductvh/pj/.env

ductvh/pj/logs
ductvh/pj/*.log
ductvh/pj/npm-debug.log*
ductvh/pj/pnpm-debug.log*
ductvh/pj/yarn-debug.log*
ductvh/pj/yarn-error.log*
ductvh/pj/lerna-debug.log*

ductvh/pj/.DS_Store

ductvh/pj/coverage
ductvh/pj/.nyc_output

ductvh/pj/.idea
ductvh/pj/.project
ductvh/pj/.classpath
ductvh/pj/.c9/
ductvh/pj/*.launch
ductvh/pj/.settings/
ductvh/pj/*.sublime-workspace

ductvh/pj/.vscode/*
ductvh/pj/!.vscode/settings.json
ductvh/pj/!.vscode/tasks.json
ductvh/pj/!.vscode/launch.json
ductvh/pj/!.vscode/extensions.json
